@font-face {
  font-family:josefin;
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family:lato;
  src: url('./fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family:fullpack;
  src: url('./fonts/fullpack.ttf');
}


button:focus, button:active {
  outline:none!important;
  box-shadow:none!important;
}

.btn:focus, .btn:active {
  outline:none!important;
  box-shadow:none!important;
}

input:focus, input:active {
  outline:none!important;
  box-shadow:none!important;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin:0;
  font-display:auto;
  font-family:lato;
  font-size:0.9rem;
  background-color:#164570;
  background-image:url('../public/images/bg-symmetry-line.webp');
  background-size:cover;
  background-attachment:fixed;
}

html,
body,
main,
body > div:first-child,
div#__next,
div#__next > div {
  min-height: 100vh;
}

.btn-telegram {
  background-color: #0088cc;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}

.grecaptcha-badge {
  visibility: hidden;
}

.logo img {
  width:300px;
  height:auto;
}

.modal-open {
  overflow-y:scroll!important;
  padding-right:inherit!important;
}

.headline {
  font-size:2rem;
  font-family:josefin;
  font-style:italic;
  text-align:right;
}

#support-label, #support-box {
  display:none;
}

input:focus {
  outline:none;
}

.page-loading {
  display:none;
}

#vlist {
  min-height:100%;
}

#loading-spinner {
  height:100vh;
  padding-top:20vh;
}

#laine-img { 
  cursor:pointer;
}


.stakewiz-logo {
  width:300px;
  height:96px;
}

.link-dark a:hover {
  color:#fff;
}

.stake-signature-row {
  line-height:1rem;;
}

.multi-stake-input-container {
  width: 15rem;
}

.wiz-score-distribution-button {
  font-size:0.8rem;
}

.vbox {
  background-image:url('../public/images/box-tile.png');
  background-repeat:repeat;
}

.full-height {
  min-height:100%;
}

#clear-input {
  position:absolute;
  right:1rem;
  z-index:10;
}

.bg-wizlight {
  background-color:#8792a7;
}

.bg-wizdark {
  background-color: #6c788d;
}

.social-icons {
  font-size:2rem;
}

.vlist-label {
  color:#ccc;
}

.vlist-header {
  background-color:bisque;
  color:#000;
  border-radius:0.3em;
}

.search-row .form-check, .search-row .form-switch {
  padding-left:0.1rem!important;
}

.vcheckbox {
  margin-top:0!important;
}

a {
  color: #00B7FF;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.cluster_statistic {
  font-size:0.7rem;
}

.wiz-font {
  font-family:fullpack;
  text-transform:uppercase;
}

.click-to-copy {
  cursor:pointer;
}

#laine-stake {
  font-size:0.8rem;
}

.mobile-visible {
  display:none!important;
}

.mobile-faq-nav {
  display:none;
}

.mobile-home-nav {
  display:none;
}

.apy-value {
  font-size:1.2rem;
}

.td-min-width {
  width:30%;
}

.alert-button {
  font-size:inherit!important;
}

.stake-modal-modal {
  margin-top: 60px;
}

.multi-stake-modal-modal {
  margin-top: 60px;
}

.modal-content {
  background-color:#404449!important;
  
}

.modal-dialog .modal-content {
  background-color:#212529;
  color:#fff;
  border: 1px solid #6c757d;
}

.modal-dialog .btn-close {
  filter:invert(1);
}

.validator-logo {
  margin-top:-50px;
}

.validator-detail-table tbody tr th {
  min-width:120px;
}

.validator-detail-scorecard div table {
  color:#fff;
}

.validator-detail-scorecard div table .text-black {
  color:#fff!important;
}

.validator-detail-scorecard .scorecard-wiz-score { 
  display:none!important;
}


.wallet-container .wallet-adapter-button {
  height:auto;
  color:#fff;
  display:flex;
  align-items:center;
}

.wallet-container .wallet-adapter-button:not([disabled]):hover {
  background-color: #fff;
  color:#000;
}

.wallet-adapter-modal-wrapper {
  border-radius:0.3rem;
  background: #fff;
  color:#000;
}

.wallet-adapter-modal-title {
  color:#000;
}
.wallet-adapter-button {
  color:#000;
}
.wallet-adapter-button:not([disabled]):hover {
  background-color: #6c757d;
}

.wallet-adapter-modal-button-close {
  background:transparent;
}
.wallet-adapter-modal-button-close svg:hover {
  fill: #777
}
.wallet-adapter-modal-list-more {
  color:#000;
}
.wallet-container .wallet-adapter-button-start-icon { 
  display:inline-block;
}
.wallet-adapter-dropdown-list {
  border-radius:0;
  background-color:#fff;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background:transparent;
  border:1px solid #000;

}
.wallet-adapter-dropdown-list-item {
  font-weight:normal;
  border: 1px solid transparent;
  color:#000;
}

.epoch-progress {
  height:1.5rem;
  background-color:#666;
}

.epoch-progress-label {
  font-size:12px;
}

.bg-semidark {
  background-color:#414549;
}

.delinquent-badge {
  position:absolute;
  top:0;
  left:0;
  border-top-left-radius: 0;
  z-index:100;
}

.validator-box-selected {
  background-color:#2c2d31;
}

.validator-box-unselected {
  background-color:#404449;
}

.btn-validator-selected {
  background-color: #198754;
  color:#fff;
}

.multi-stake-distribution-buttons .btn-outline-light:disabled {
  color:#000!important;
  background-color:#fff!important;
  opacity:1!important;
}

.multi-stake-validator-badges .badge {
  min-width:6rem;
}

/* navbar search css start */
.btnSearch {
  display: inline-block;
  margin: 4px 2px;
  background-color: transparent;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnSearch:hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: transparent;
  color: #fff;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  float: right;
  color: #000;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.searchbtn {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.btnSearch-active{
  background-color: #fff;
  color: #000
}
.btnSearch-active:hover{
  background-color: #fff;
  color: #000
}
.search:focus + .searchbtn {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}
.search {
  position: absolute;
  left: 49px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.search:focus {
  width: 250px;/* 285, 270,363 */
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 49px;
}
.scrollSrc {
  left: auto;
  right: 0;
}
.wiz-one-line{
  display : flex
}
.validator-title{
  color:#000;
}
.expandright:focus {
  padding: 0 0 0 16px;
}

.top-search-box::placeholder {
  color: #ccc;
}
.search-result-div {
  position: absolute;
  max-height: 535px;
  overflow: auto;
  width:  300px;/* 335, 320,411; */
  background: #ffffff;
  margin-top: 55px;
  border-left: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
  overflow-x: hidden;
  padding: 5px;
}
.search-result-div .box {
  margin-bottom: 0;
}
.search-result-li {
  padding: 0 !important;
}
.search-result-li:hover {
  background: #f7f7f7 none repeat scroll 0 0;
}
.search-result-li a {
  display: table;
  padding: 4px 0;
  width: 100%;
  height: inherit;
}
.switch-loader {
  position: absolute;
  left: 75px;
  top: 13px;
}
.navbar-nav {
  align-items: center;
}

.nav-discord i {
  font-size:1.5rem;
}

.search-result-div:focus {
  width: 363px;
  padding: 0 16px 0 0;
}

.search-result-div:focus {
  padding: 0 0 0 16px;
}

.validators-list .validator-img {
  float: left;
  width: 10%;
}
.validators-list .validator-img img {
  object-fit: cover;
}
.validators-list .validator-info {
  margin-left: 8px;
  float: left;
  width: 85%; /*68,80*/
}
.scroll-description {
  font-size : 0.8rem;
  width: 100%; /*70*/
}
.scroll-descrip-full-Width {
  width: 100%;
}
.scrollSrc ul {
  margin-bottom: 0;
  padding: 0 2px;
}
.scrollSrc li {
  list-style-type: none;
  border-bottom: 1px solid #efefef;
  padding: 8px 0 !important;
  /*display: flex;*/
  align-items: center;
}
.clrFix {
  clear: both;
}
.validators-list .validator-description {
  display: block;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 23px;
}

.wiz-one-line span{
  margin-right : 8px;
}
.load-item {
  width: 100%;
  border: none;
  color: #000;
  text-align: center;
  background: transparent;
  font-size: 16px;
  padding: 8px;
}
.src-active {
  width: 250px; /* 285 */
  padding: 0 0 0 16px;
}
/*-----------*/
@media only screen and (max-width:1200px) {
  .validator-flex-container {
    width:45%!important;
  }
}
@media only screen and (max-width: 991px) {
  .m-bottom-13{
    margin-bottom: 13px;
  }
  /* navbar search css start */
  .tablet-on {display: block !important;}
  .tablet-off {display: none;}
  .search:focus {
    width: 77vw; /* 77 */
  }
  .src-active {
    width: 77vw; /* 77 */
  }
  .search-result-div {width: 678px;}
  
  .mobile-col-hide {
    display:none!important;;
  }
}

@media only screen and (max-width: 800px) {
  .multi-stake-distribution-buttons {
    flex-direction:column!important;
  }

  .multi-stake-distribution-buttons button {
    margin-bottom:0.5rem!important;
  }

  .multi-stake-validator-badges {
    flex-direction:column!important;
    
  }

  .multi-stake-validator-badges div {
    margin-bottom:0.5rem;
    width:100%;
  }

  .multi-stake-validator-row {
    flex-direction: column!important;
    padding-top:0.5rem!important;
  }

  .multi-stake-validator-name {
    width:auto!important;
    margin:auto!important;
    margin-bottom:0.5rem!important;
  }
  
  .multi-stake-remove-button {
    margin-top:0.5rem!important;
    display:flex;
    align-items: center;
  }

  .multi-stake-remove-button span {
    display:inline-block!important;
    margin-left:0.2rem!important;
  }

  .multi-stake-summary {
    flex-direction: column!important;
  }

  .navbar-flex-container {
    flex-direction:column;
  }

  .navbar-text {
    width:100%!important;
  }

  .navbar-toggler {
    position:absolute;
    top:1rem;
    right:1rem;
  }

  .navbar-collapse {
    position: absolute!important;
    top:3.5rem;
    right:1rem;
    padding:5px;
    background-color:#333;
    border-radius:3px;
    z-index:9999;
  }

  .navbar-nav {
    text-align:center;
  }

  .nav-discord {
    display:flex;
    align-items:center;
  }

  .nav-discord span {
    display:inline-block!important;
    text-decoration:none!important;
  } 

  .epoch-progress-value { 
    display:none;
  }

  .epoch-progress-container {
    width:100%!important;
    flex-direction:column!important;
    position:unset!important;
  }

  .epoch-progress-text {
    width:100%!important;
  }

  .wallet-container {
    text-align:center;
  }

  .wallet-adapter-dropdown {
    width:100%!important;
  }

  .wallet-adapter-button {
    width:100%!important;
    justify-content: center;
  }

  .m-bottom-13{
    margin-bottom: 0;
  }

  .navbar {
    height:6rem!important;
  }

  .logo {
    text-align:center;
    
  }

  .stakewiz-logo {
    min-width:unset!important;
    min-height:unset!important;
    width:15rem!important;
    height:auto!important;
    margin:0!important;
    margin-top:-0.5rem!important;
  }

  .validator-flex-container {
    width:100%!important;
  }

  .desktop-visible{
    display:none!important;
  }
  .mobile-visible {
    display:initial!important;
  }

  .validator-search-filter-row {
    flex-direction: column!important;
  }

  .validator-search-filter-row div {
    margin-bottom:0.2rem!important;
  }

  #support-label {
    justify-content:center!important;
    margin-top:0.4rem!important;
    margin-bottom:0.4rem!important;
  }
  #support-box {
    display:none!important;
  }

  .mobile-col-hide {
    display:none!important;;
  }

  .vbox {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-left:0.1rem!important;
    margin-right:0.1rem!important;
  }

  .mobile-name-column {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    flex-grow:1;
    flex:unset;
    padding-bottom:0.4rem!important;
  }
  .mobile-stake-column {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
  }
  .mobile-stats-column {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    text-align:left;
    font-size: 0.8rem;
    justify-content:flex-end;
  }
  .mobile-identities {
    display:flex;
    flex-direction:column;
  }
  .search-row {
    display:flex;
    flex-direction:column;
    justify-items: center;
  }
  .search-row .col {
    margin-top:0.5rem!important;
    
  }

  .searchToggle {
    margin-left:3rem!important;
  }
  .text-modal-white{
    overflow: hidden;
  }

  .searchSort {
    margin-left:0!important;
  }

  .vcheckbox {
    padding:0.8rem!important;
    padding-left:2rem!important;
    padding-right:2rem!important;
  }

  .search-row .form-check label {
    margin-left:1rem!important;
  }

  #resultsno {
    padding-left:2rem!important;
    padding-right:2rem!important;
    width:auto!important;
  }

  .alert-button {
    width:100%;
  }

  .mobile-checkbox-wrap {
    flex-wrap:wrap;
    justify-content:center;
  }
  .mobile-checkbox-label {
    justify-content:center;
  }
  .mobile-faq-nav {
    justify-content: center!important;
  }
  .mobile-home-nav {
    justify-content: center!important;
  }
  .mobile-faq-container {
    margin:0!important;
  }
  .mobile-faq-container hr {
    display:none;
  }

  .mobile-faq-container .vbox {
    padding:2rem!important;
  }
  #alert-terms {
    display:initial!important;
    text-align:left!important;
  }
  .cluster_statistic {
    font-size:0.6rem;
  }

  .validator-detail-table tbody tr th {
    min-width:initial;
  }

  .validator-details-content .row {
    display:flex;
    flex-direction:column;
  }

  .mobile-validator-info-row .col .row {
    flex-direction:row;
  }

  .mobile-gauge-gauge {
    width:100%;
  }

  .mobile-gauge-div {
    width:75%!important;
  }
}
/* navbar search css start */
@media only screen and (max-width: 767px) {
    .search:focus {
      width: 77vw;
  }
  .src-active {
    width: 77vw;
  }
  .search-result-div {width: 330px;}
  .wiz-one-line { display: block;}
}
/*----------------------*/
@media only screen and (max-width: 359px) {
  .search-result-div {width: 294px;}
}